mc/src/main/resources/schema/commandSyntax/CommandSyntax.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="commands/type2"
			xmlns:tns="commands/type2"
			elementFormDefault="qualified"
			xmlns:qdbns="/query/db"
			xmlns:udbns="/update/db"
			xmlns:udbdns="/update/dbdesc"
			xmlns:qdbdns="/query/dbdesc"
			xmlns:uostcns="/update/odbm/start/connection"
			xmlns:uospcns="/update/odbm/stop/connection"
	        xmlns:qitclns="/query/imscon/type/client"
	        xmlns:uitclns="/update/imscon/type/client"
	        xmlns:qitcfns="/query/imscon/type/config"
	        xmlns:uitcfns="/update/imscon/type/config"
	        xmlns:qitdsns="/query/imscon/type/datastore"
	        xmlns:uitdsns="/update/imscon/type/datastore"
	        xmlns:qitpxns="/query/imscon/type/imsplex"
	        xmlns:uitpxns="/update/imscon/type/imsplex"
	        xmlns:qitptns="/query/imscon/type/port"
	        xmlns:uitptns="/update/imscon/type/port"
	        xmlns:qitricns="/query/imscon/type/rmtimscon"
	        xmlns:uitricns="/update/imscon/type/rmtimscon"
	        xmlns:qitodns="/query/imscon/type/odbm"
	        xmlns:uitodns="/update/imscon/type/odbm"
	        xmlns:qitalns="/query/imscon/type/alias"
	        xmlns:uitalns="/update/imscon/type/alias"
	        xmlns:uplxns="/update/imsplex"
	        xmlns:qplxns="/query/imsplex"
	        xmlns:qpgmns="commands/query/pgm"
	        xmlns:upgmns="commands/update/pgm"
	        xmlns:qpgmdns="/query/pgmdesc"
	        xmlns:upgmdns="/update/pgmdesc"
	        xmlns:qrtcns="/query/rtc"
	        xmlns:urtcns="/update/rtc"
            xmlns:urtcdns="/update/rtcdesc"
	        xmlns:qrtcdns="/query/rtcdesc"
	        xmlns:qtrns="commands/query/tran"
			xmlns:utrns="commands/update/tran"
	        xmlns:utrdns="/update/trandesc"
	        xmlns:qtrdns="/query/trandesc"
	        xmlns:cdbns="/create/db"
	        xmlns:ddbdns="/delete/dbdesc"
	        xmlns:cdbdns="/create/dbdesc"
	        xmlns:ddbns="/delete/db"
            xmlns:cpgmns="commands/create/pgm"
	        xmlns:dpgmns="commands/delete/pgm"
	        xmlns:dpgmdns="/delete/pgmdesc"
	        xmlns:cpgmdns="/create/pgmdesc"
	        xmlns:crtcns="/create/rtc"
	        xmlns:drtcns="/delete/rtc"
	        xmlns:crtcdns="/create/rtcdesc"
	        xmlns:drtcdns="/delete/rtcdesc"
			xmlns:ctrns="commands/create/tran"
	        xmlns:dtrns="commands/delete/tran"
	        xmlns:ctrdns="/create/trandesc"
	        xmlns:dtrdns="/delete/trandesc"
	        xmlns:qimsns="/query/ims"
	        xmlns:uimsns="/update/ims"
	        xmlns:qmemberns="/query/member"
	        xmlns:qotdns="/query/odbm/type/datastore"
	        xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0"
			xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc">
          
	 
	<!-- ========================================================================================== -->
	<!-- Development Notes:                                                                         -->
	<!-- Note: Element is the java object created                                                   -->
	<!-- Note: Attribute is the equivalent to java private attributes with generated getters/setters-->
	<!-- Note: When using the JAXB Javdoc, documenting a class derived from a complex type , an     -->
	<!--       example is: "<xs:annotation><xs:appinfo><jxb:class><jxb:javadoc>", for elements and  -->
	<!--       attributes its similar, only that you use "jxb:property>"     						-->
	<!-- ========================================================================================== -->

	<!-- ========================================================================================== -->
	<!-- Imported Schemas                                                                           -->
	<!-- ========================================================================================== -->

	<!-- Global (root) element -->
<!--  	<xs:import schemaLocation="../db/QueryDatabase.xsd" namespace="/query/db"/>
	<xs:import schemaLocation="../db/UpdateDatabase.xsd" namespace="/update/db"/>
	<xs:import schemaLocation="../dbdesc/QueryDbDesc.xsd" namespace="/query/dbdesc"/>
	<xs:import schemaLocation="../dbdesc/UpdateDbDesc.xsd" namespace="/update/dbdesc"/>
	<xs:import schemaLocation="../imscon/QueryImsConnectTypeClient.xsd" namespace="/query/imscon/type/client"/>
	<xs:import schemaLocation="../imscon/UpdateImsConnectTypeClient.xsd" namespace="/update/imscon/type/client"/>
	<xs:import schemaLocation="../imscon/QueryImsConnectTypeConfig.xsd" namespace="/query/imscon/type/config"/>
	<xs:import schemaLocation="../imscon/UpdateImsConnectTypeConfig.xsd" namespace="/update/imscon/type/config"/>
	<xs:import schemaLocation="../imscon/QueryImsConnectTypeDatastore.xsd" namespace="/query/imscon/type/datastore"/>
	<xs:import schemaLocation="../imscon/UpdateImsConnectTypeDatastore.xsd" namespace="/update/imscon/type/datastore"/>
	<xs:import schemaLocation="../imscon/QueryImsConnectTypeImsPlex.xsd" namespace="/query/imscon/type/imsplex"/>
	<xs:import schemaLocation="../imscon/UpdateImsConnectTypeImsplex.xsd" namespace="/update/imscon/type/imsplex"/>
	<xs:import schemaLocation="../imscon/QueryImsConnectTypePort.xsd" namespace="/query/imscon/type/port"/>
	<xs:import schemaLocation="../imscon/UpdateImsConnectTypePort.xsd" namespace="/update/imscon/type/port"/>
	<xs:import schemaLocation="../imscon/QueryImsConnectTypeAlias.xsd" namespace="/query/imscon/type/alias"/>
	<xs:import schemaLocation="../imscon/UpdateImsConnectTypeAlias.xsd" namespace="/update/imscon/type/alias"/>
	<xs:import schemaLocation="../imscon/QueryImsConnectTypeOdbm.xsd" namespace="/query/imscon/type/odbm"/>
	<xs:import schemaLocation="../imscon/UpdateImsConnectTypeOdbm.xsd" namespace="/update/imscon/type/odbm"/>
	<xs:import schemaLocation="../imscon/QueryImsConnectTypeRemoteConnect.xsd" namespace="/query/imscon/type/rmtimscon"/>
	<xs:import schemaLocation="../imscon/UpdateImsConnectTypeRemoteConnect.xsd" namespace="/update/imscon/type/rmtimscon"/>
	<xs:import schemaLocation="../imsplex/QueryImsPlex.xsd" namespace="/query/imsplex"/> -->
	<!--  <xs:import schemaLocation="../imsplex/UpdateImsPlex.xsd" namespace="http://www.ibm.com/ims/ea/om/cmd/V14/update/imsplex"/>-->
	<xs:import schemaLocation="../pgm/QueryProgram.xsd" namespace="commands/query/pgm"/>
 	<xs:import schemaLocation="../pgm/UpdateProgram.xsd" namespace="commands/update/pgm"/>
<!-- <xs:import schemaLocation="../pgmdesc/QueryPgmDesc.xsd" namespace="/query/pgmdesc"/>
	<xs:import schemaLocation="../pgmdesc/UpdatePgmDesc.xsd" namespace="/update/pgmdesc"/>
	<xs:import schemaLocation="../rtc/QueryRoutingCode.xsd" namespace="/query/rtc"/>
	<xs:import schemaLocation="../rtc/UpdateRoutingCode.xsd" namespace="/update/rtc"/>
	<xs:import schemaLocation="../rtcdesc/UpdateRtcDesc.xsd" namespace="/update/rtcdesc"/>
	<xs:import schemaLocation="../rtcdesc/QueryRtcDesc.xsd" namespace="/query/rtcdesc"/>
	--><xs:import schemaLocation="../tran/QueryTransaction.xsd" namespace="commands/query/tran"/>
	<xs:import schemaLocation="../tran/UpdateTransaction.xsd" namespace="commands/update/tran"/>
	<!-- <xs:import schemaLocation="../trandesc/QueryTranDesc.xsd" namespace="/query/trandesc"/>
	<xs:import schemaLocation="../trandesc/UpdateTranDesc.xsd" namespace="/update/trandesc"/>
	<xs:import schemaLocation="../db/CreateDatabase.xsd" namespace="/create/db"/>
	<xs:import schemaLocation="../db/DeleteDatabase.xsd" namespace="/delete/db"/> -->
    <xs:import schemaLocation="../pgm/CreateProgram.xsd" namespace="commands/create/pgm"/>
	<xs:import schemaLocation="../pgm/DeleteProgram.xsd" namespace="commands/delete/pgm"/>
	<!-- <xs:import schemaLocation="../rtc/CreateRoutingCode.xsd" namespace="/create/rtc"/>
	<xs:import schemaLocation="../rtc/DeleteRoutingcode.xsd" namespace="/delete/rtc"/>
	--><xs:import schemaLocation="../tran/CreateTransaction.xsd" namespace="commands/create/tran"/>
	<xs:import schemaLocation="../tran/DeleteTransaction.xsd" namespace="commands/delete/tran"/>
	<!-- <xs:import schemaLocation="../trandesc/CreateTranDesc.xsd" namespace="/create/trandesc"/>
	<xs:import schemaLocation="../trandesc/DeleteTranDesc.xsd" namespace="/delete/trandesc"/>
	<xs:import schemaLocation="../pgmdesc/CreatePgmDesc.xsd" namespace="/create/pgmdesc"/>
	<xs:import schemaLocation="../pgmdesc/DeletePgmDesc.xsd" namespace="/delete/pgmdesc"/>
	<xs:import schemaLocation="../rtcdesc/CreateRtcDesc.xsd" namespace="/create/rtcdesc"/>
	<xs:import schemaLocation="../rtcdesc/DeleteRtcDesc.xsd" namespace="/delete/rtcdesc"/>
	<xs:import schemaLocation="../dbdesc/CreateDbDesc.xsd" namespace="/create/dbdesc"/>
	<xs:import schemaLocation="../dbdesc/DeleteDbDesc.xsd" namespace="/delete/dbdesc"/>
	<xs:import schemaLocation="../ims/QueryIms.xsd" namespace="/query/ims"/>
	<xs:import schemaLocation="../member/QueryMember.xsd" namespace="/query/member"/>
	<xs:import schemaLocation="../ims/UpdateIms.xsd" namespace="/update/ims"/>
	<xs:import schemaLocation="../odbm/UpdateOdbmStartConnection.xsd" namespace="/update/odbm/start/connection"/>
	<xs:import schemaLocation="../odbm/UpdateOdbmStopConnection.xsd" namespace="/update/odbm/stop/connection"/>	
	<xs:import schemaLocation="../odbm/QueryOdbmTypeDatastore.xsd" namespace="/query/odbm/type/datastore"/>	 -->
	
	<xs:element name="OmType2Command" type="tns:type2Command" />

	<!-- Supporting Type2 command requires that the verb and the resource be specified for
		correct command usage and code generation. The choice dictates the type2 supported
		commands by this schema.-->
	<xs:complexType name="type2Command">
		<xs:sequence>
			<xs:choice>
		<!-- 		<xs:element name="UpdateDb" type="udbns:UpdateDb" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryDb" type="qdbns:QueryDb" minOccurs="0" maxOccurs="1" />
				<xs:element name="UpdateDbDesc" type="udbdns:UpdateDbDesc" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryDbDesc" type="qdbdns:QueryDbDesc" minOccurs="0" maxOccurs="1" />
		        <xs:element name="UpdateImsConTypeClient" type="uitclns:UpdateImsConTypeClient" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryImsConTypeClient" type="qitclns:QueryImsConTypeClient" minOccurs="0" maxOccurs="1" />
		        <xs:element name="UpdateImsConTypeConfig" type="uitcfns:UpdateImsConTypeConfig" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryImsConTypeConfig" type="qitcfns:QueryImsConTypeConfig" minOccurs="0" maxOccurs="1" />
		        <xs:element name="UpdateImsConTypeDatastore" type="uitdsns:UpdateImsConTypeDatastore" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryImsConTypeDatastore" type="qitdsns:QueryImsConTypeDatastore" minOccurs="0" maxOccurs="1" />
		        <xs:element name="UpdateImsConTypeImsPlex" type="uitpxns:UpdateImsConTypeImsPlex" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryImsConTypeImsPlex" type="qitpxns:QueryImsConTypeImsPlex" minOccurs="0" maxOccurs="1" />
		        <xs:element name="UpdateImsConTypePort" type="uitptns:UpdateImsConTypePort" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryImsConTypePort" type="qitptns:QueryImsConTypePort" minOccurs="0" maxOccurs="1" />
				<xs:element name="UpdateImsConTypeAlias" type="uitalns:UpdateImsConTypeAlias" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryImsConTypeAlias" type="qitalns:QueryImsConTypeAlias" minOccurs="0" maxOccurs="1" />
				<xs:element name="UpdateImsConTypeOdbm" type="uitodns:UpdateImsConTypeOdbm" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryImsConTypeOdbm" type="qitodns:QueryImsConTypeOdbm" minOccurs="0" maxOccurs="1" />
				<xs:element name="UpdateImsConTypeRmtImsCon" type="uitricns:UpdateImsConTypeRmtImsCon" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryImsConTypeRmtImsCon" type="qitricns:QueryImsConTypeRmtImsCon" minOccurs="0" maxOccurs="1" /> -->
	<!-- 		        <xs:element name="UpdateImsPlex" type="uplxns:UpdateImsPlex" minOccurs="0" maxOccurs="1" /> -->
	<!-- 			<xs:element name="UpdateOdbmStartConnection" type="uostcns:UpdateOdbmStartConnection" minOccurs="0" maxOccurs="1" />
				<xs:element name="UpdateOdbmStopConnection" type="uospcns:UpdateOdbmStopConnection" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryImsPlex" type="qplxns:QueryImsPlex" minOccurs="0" maxOccurs="1" />-->
		        <xs:element name="UpdatePgm" type="upgmns:UpdatePgm" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryPgm" type="qpgmns:QueryPgm" minOccurs="0" maxOccurs="1" />
		      <!--   <xs:element name="UpdatePgmDesc" type="upgmdns:UpdatePgmDesc" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryPgmDesc" type="qpgmdns:QueryPgmDesc" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryRtc" type="qrtcns:QueryRtc" minOccurs="0" maxOccurs="1" />
		        <xs:element name="UpdateRtc" type="urtcns:UpdateRtc" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryRtcDesc" type="qrtcdns:QueryRtcDesc" minOccurs="0" maxOccurs="1" />
		        <xs:element name="UpdateRtcDesc" type="urtcdns:UpdateRtcDesc" minOccurs="0" maxOccurs="1" />
				--><xs:element name="UpdateTran" type="utrns:UpdateTran" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryTran" type="qtrns:QueryTran" minOccurs="0" maxOccurs="1" />
		        <!-- <xs:element name="UpdateTranDesc" type="utrdns:UpdateTranDesc" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryTranDesc" type="qtrdns:QueryTranDesc" minOccurs="0" maxOccurs="1" />
				<xs:element name="CreateDb" type="cdbns:CreateDb" minOccurs="0" maxOccurs="1" />
				<xs:element name="DeleteDb" type="ddbns:DeleteDb" minOccurs="0" maxOccurs="1" /> -->
				<xs:element name="CreatePgm" type="cpgmns:CreatePgm" minOccurs="0" maxOccurs="1" />
				<xs:element name="DeletePgm" type="dpgmns:DeletePgm" minOccurs="0" maxOccurs="1" />
				<!-- <xs:element name="CreateRtc" type="crtcns:CreateRtc" minOccurs="0" maxOccurs="1" />
				<xs:element name="DeleteRtc" type="drtcns:DeleteRtc" minOccurs="0" maxOccurs="1" />
				--><xs:element name="CreateTran" type="ctrns:CreateTran" minOccurs="0" maxOccurs="1" />
				<xs:element name="DeleteTran" type="dtrns:DeleteTran" minOccurs="0" maxOccurs="1" />
				<!-- <xs:element name="CreateTranDesc" type="ctrdns:CreateTranDesc" minOccurs="0" maxOccurs="1" />
				<xs:element name="DeleteTranDesc" type="dtrdns:DeleteTranDesc" minOccurs="0" maxOccurs="1" />
				<xs:element name="CreatePgmDesc" type="cpgmdns:CreatePgmDesc" minOccurs="0" maxOccurs="1" />
				<xs:element name="DeletePgmDesc" type="dpgmdns:DeletePgmDesc" minOccurs="0" maxOccurs="1" />
				<xs:element name="CreateDbDesc" type="cdbdns:CreateDbDesc" minOccurs="0" maxOccurs="1" />
				<xs:element name="DeleteDbDesc" type="ddbdns:DeleteDbDesc" minOccurs="0" maxOccurs="1" />
				<xs:element name="CreateRtcDesc" type="crtcdns:CreateRtcDesc" minOccurs="0" maxOccurs="1" />
				<xs:element name="DeleteRtcDesc" type="drtcdns:DeleteRtcDesc" minOccurs="0" maxOccurs="1" />
			    <xs:element name="QueryIms" type="qimsns:QueryIms" minOccurs="0" maxOccurs="1" />
			    <xs:element name="QueryMember" type="qmemberns:QueryMember" minOccurs="0" maxOccurs="1" />
				<xs:element name="UpdateIms" type="uimsns:UpdateIms" minOccurs="0" maxOccurs="1" />
				<xs:element name="QueryOdbmTypeDatastore" type="qotdns:QueryOdbmTypeDatastore" minOccurs="0" maxOccurs="1" /> -->
			</xs:choice>
			
			
			<!-- verb identifies the action to be taken such as UPDATE, QUERY, DELETE-->
			<xs:element name="verb" minOccurs="0" maxOccurs="1" >
	 			<xs:simpleType>
	 				<xs:annotation><xs:appinfo><jxb:typesafeEnumClass name="verbOptions"/></xs:appinfo></xs:annotation>
					<xs:restriction base="xs:string">
						<xs:enumeration value="QUERY" />
						<xs:enumeration value="UPDATE" />
						<xs:enumeration value="DELETE" />
						<xs:enumeration value="CREATE" />
					</xs:restriction>
				</xs:simpleType>		
			</xs:element>
							
			<!-- resource type identifies the resource such as TRAN, PGM, DB -->
			<xs:element name="resource" minOccurs="0" maxOccurs="1">
	 			<xs:simpleType>
	 				<xs:annotation><xs:appinfo><jxb:typesafeEnumClass name="resourceOptions"/></xs:appinfo></xs:annotation>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AREA" />
						<xs:enumeration value="DATAGRP" />
						<xs:enumeration value="DB" />
						<xs:enumeration value="DBDESC" />
						<xs:enumeration value="IMS" />
						<xs:enumeration value="IMSPLEX" />
						<xs:enumeration value="LE" />
						<xs:enumeration value="MEMBER" />
						<xs:enumeration value="MSLINK" />
						<xs:enumeration value="MSPLINK" />
						<xs:enumeration value="MSNAME" />
						<xs:enumeration value="ODBM" />
						<xs:enumeration value="OLC" />
						<xs:enumeration value="OLREORG" />
						<xs:enumeration value="OTMADESC" />
						<xs:enumeration value="PGM" />
						<xs:enumeration value="PGMDESC" />
						<xs:enumeration value="RTC" />
						<xs:enumeration value="RTCDESC" />
						<xs:enumeration value="STRUCTURE" />
						<xs:enumeration value="TRAN" />
						<xs:enumeration value="TRANDESC" />
						<xs:enumeration value="IMSCON" />
					</xs:restriction>
				</xs:simpleType>		
			</xs:element>
			
			<!-- Version of IMS this Schema supports -->
			<!-- <xs:element name="version" type="xs:integer" default="12" minOccurs="0" maxOccurs="1"/> -->
		
			<!-- Set the resouce name to have the command routed too -->
			<xs:element name="route" type="tns:routeOptions" minOccurs="0" maxOccurs="unbounded"/>
			
		</xs:sequence>
		
		<!-- Version of IMS this Schema supports -->
		<xs:attribute name="version" type="xs:integer" default="13" />
		
	</xs:complexType>

	<xs:simpleType name="routeOptions">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>