mc/src/main/resources/schema/tran/CreateTransaction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="commands/create/tran" xmlns:tns="commands/create/tran"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc">

	<!-- ========================================================================================== -->
	<!-- CREATE Transaction SCHEMA DEFINITION -->
	<!-- ========================================================================================== -->

	<xs:complexType name="CreateTran">
		<xs:sequence>
			<xs:element name="NAME" type="tns:nameOptions"
				minOccurs="1" maxOccurs="unbounded" />

			<xs:element name="LIKE" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<jxb:class name="LIKE" />
						</xs:appinfo>
					</xs:annotation>
					<xs:choice>
						<xs:element name="DESC" type="xs:string" minOccurs="1"
							maxOccurs="1" />
						<xs:element name="RSC" type="xs:string" minOccurs="0"
							maxOccurs="1" />
					</xs:choice>
				</xs:complexType>
			</xs:element>

			<xs:element name="SET" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<jxb:class name="SET" />
						</xs:appinfo>
					</xs:annotation>
					<xs:sequence>

						<xs:element name="AOCMD" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:annotation>
									<xs:appinfo>
										<jxb:typesafeEnumClass
											name="aocmdOptions" />
									</xs:appinfo>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="CMD" />
									<xs:enumeration value="N" />
									<xs:enumeration value="TRAN" />
									<xs:enumeration value="Y" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="CLASS" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="tns:classOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="CMTMODE" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:annotation>
									<xs:appinfo>
										<jxb:typesafeEnumClass
											name="cmtmodeOptions" />
									</xs:appinfo>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="MULT" />
									<xs:enumeration value="SNGL" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="CONV" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:annotation>
									<xs:appinfo>
										<jxb:typesafeEnumClass
											name="convOptions" />
									</xs:appinfo>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="N" />
									<xs:enumeration value="Y" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="DCLWA" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:annotation>
									<xs:appinfo>
										<jxb:typesafeEnumClass
											name="dclwaOptions" />
									</xs:appinfo>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="N" />
									<xs:enumeration value="Y" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="DIRROUTE" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:annotation>
									<xs:appinfo>
										<jxb:typesafeEnumClass
											name="dirrouteOptions" />
									</xs:appinfo>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="N" />
									<xs:enumeration value="Y" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="EDITRTN" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="tns:editrtnOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="EDITUC" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:annotation>
									<xs:appinfo>
										<jxb:typesafeEnumClass
											name="editucOptions" />
									</xs:appinfo>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="N" />
									<xs:enumeration value="Y" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="EMHBSZ" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="tns:emhbszOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="EXPRTIME" 
							minOccurs="0" maxOccurs="1" >
							<xs:simpleType>
								<xs:restriction base="tns:exprtimeOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="FP" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:annotation>
									<xs:appinfo>
										<jxb:typesafeEnumClass name="fpOptions" />
									</xs:appinfo>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="E" />
									<xs:enumeration value="N" />
									<xs:enumeration value="P" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="INQ" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:annotation>
									<xs:appinfo>
										<jxb:typesafeEnumClass name="inqOptions" />
									</xs:appinfo>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="N" />
									<xs:enumeration value="Y" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="LCT" 
							minOccurs="0" maxOccurs="1" >
							<xs:simpleType>
								<xs:restriction base="tns:lctOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="LPRI"
							minOccurs="0" maxOccurs="1" >
							<xs:simpleType>
								<xs:restriction base="tns:lpriOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="MAXRGN" 
							minOccurs="0" maxOccurs="1" >
							<xs:simpleType>
								<xs:restriction base="tns:maxrgnOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="MSGTYPE" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:annotation>
									<xs:appinfo>
										<jxb:typesafeEnumClass
											name="msgtypeOptions" />
									</xs:appinfo>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="MULTSEG" />
									<xs:enumeration value="SNGLSEG" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="MSNAME" 
							minOccurs="0" maxOccurs="1" >
							<xs:simpleType>
								<xs:restriction base="tns:msnameOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="NPRI" 
							minOccurs="0" maxOccurs="1" >
							<xs:simpleType>
								<xs:restriction base="tns:npriOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="PARLIM" 
							minOccurs="0" maxOccurs="1" >
							<xs:simpleType>
								<xs:restriction base="tns:parlimOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="PGM" 
							minOccurs="0" maxOccurs="1" >
							<xs:simpleType>
								<xs:restriction base="tns:pgmOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="PLCT" 
							minOccurs="0" maxOccurs="1" >
							<xs:simpleType>
								<xs:restriction base="tns:plctOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="PLCTTIME" 
							minOccurs="0" maxOccurs="1" >
							<xs:simpleType>
								<xs:restriction base="tns:plcttimeOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="RECOVER" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:annotation>
									<xs:appinfo>
										<jxb:typesafeEnumClass
											name="recoverOptions" />
									</xs:appinfo>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="N" />
									<xs:enumeration value="Y" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="REMOTE" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:annotation>
									<xs:appinfo>
										<jxb:typesafeEnumClass
											name="remoteOptions" />
									</xs:appinfo>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="N" />
									<xs:enumeration value="Y" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="RESP" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:annotation>
									<xs:appinfo>
										<jxb:typesafeEnumClass
											name="respOptions" />
									</xs:appinfo>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="N" />
									<xs:enumeration value="Y" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="SEGNO" 
							minOccurs="0" maxOccurs="1" >
							<xs:simpleType>
								<xs:restriction base="tns:segnoOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="SEGSZ" 
							minOccurs="0" maxOccurs="1" >
							<xs:simpleType>
								<xs:restriction base="tns:segszOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="SERIAL" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:annotation>
									<xs:appinfo>
										<jxb:typesafeEnumClass
											name="serialOptions" />
									</xs:appinfo>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="N" />
									<xs:enumeration value="Y" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="SIDL" 
							minOccurs="0" maxOccurs="1" >
							<xs:simpleType>
								<xs:restriction base="tns:sidlOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="SIDR" 
							minOccurs="0" maxOccurs="1" >
							<xs:simpleType>
								<xs:restriction base="tns:sidrOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="SPASZ" 
							minOccurs="0" maxOccurs="1" >
							<xs:simpleType>
								<xs:restriction base="tns:spaszOptions" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="SPATRUNC" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:annotation>
									<xs:appinfo>
										<jxb:typesafeEnumClass
											name="spatruncOptions" />
									</xs:appinfo>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="R" />
									<xs:enumeration value="S" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="TRANSTAT" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:annotation>
									<xs:appinfo>
										<jxb:typesafeEnumClass
											name="transtatOptions" />
									</xs:appinfo>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="N" />
									<xs:enumeration value="Y" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="WFI" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:annotation>
									<xs:appinfo>
										<jxb:typesafeEnumClass name="wfiOptions" />
									</xs:appinfo>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="N" />
									<xs:enumeration value="Y" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Name values for create transaction description -->
	<xs:simpleType name="nameOptions">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>

	<!-- EDITRTN values for create transaction description -->
	<xs:simpleType name="editrtnOptions">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>

	<!-- CLASS enumeration options for create transaction description -->
	<xs:simpleType name="classOptions">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="999" />
		</xs:restriction>
	</xs:simpleType>

	<!-- CPRI enumeration options for create transaction description -->
	<xs:simpleType name="cpriOptions">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="14" />
		</xs:restriction>
	</xs:simpleType>

	<!-- EMHBSZ enumeration options for create transaction description -->
	<xs:simpleType name="emhbszOptions">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="30720" />
		</xs:restriction>
	</xs:simpleType>

	<!-- EXPRTIME enumeration options for create transaction description -->
	<xs:simpleType name="exprtimeOptions">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="65535" />
		</xs:restriction>
	</xs:simpleType>

	<!-- LCT enumeration options for create transaction description -->
	<xs:simpleType name="lctOptions">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="65535" />
		</xs:restriction>
	</xs:simpleType>

	<!-- LPRI enumeration options for create transaction description -->
	<xs:simpleType name="lpriOptions">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="65535" />
		</xs:restriction>
	</xs:simpleType>

	<!-- MAXRGN enumeration options for create transaction description -->
	<xs:simpleType name="maxrgnOptions">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="999" />
		</xs:restriction>
	</xs:simpleType>

	<!-- MSNAME options for create transaction description -->
	<xs:simpleType name="msnameOptions">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>

	<!-- NPRI enumeration options for create transaction description -->
	<xs:simpleType name="npriOptions">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="14" />
		</xs:restriction>
	</xs:simpleType>

	<!-- PARLIM enumeration options for create transaction description -->
	<xs:simpleType name="parlimOptions">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="65535" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- PGM enumeration options for create transaction description -->
	<xs:simpleType name="pgmOptions">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>

	<!-- PLCT enumeration options for create transaction description -->
	<xs:simpleType name="plctOptions">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="65535" />
		</xs:restriction>
	</xs:simpleType>

	<!-- PLCTTIME enumeration options for create transaction description -->
	<xs:simpleType name="plcttimeOptions">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="6553500" />
		</xs:restriction>
	</xs:simpleType>

	<!-- SEGNO enumeration options for create transaction description -->
	<xs:simpleType name="segnoOptions">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="65535" />
		</xs:restriction>
	</xs:simpleType>

	<!-- SEGSZ enumeration options for create transaction description -->
	<xs:simpleType name="segszOptions">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="65535" />
		</xs:restriction>
	</xs:simpleType>

	<!-- SIDL enumeration options for create transaction description -->
	<xs:simpleType name="sidlOptions">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="2036" />
		</xs:restriction>
	</xs:simpleType>

	<!-- SIDR enumeration options for create transaction description -->
	<xs:simpleType name="sidrOptions">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="2036" />
		</xs:restriction>
	</xs:simpleType>

	<!-- SPASZ enumeration options for create transaction description -->
	<xs:simpleType name="spaszOptions">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="16" />
			<xs:maxInclusive value="32767" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>